- expanded = expanded_by_default?
- add_page_specific_style 'page_bundles/ci_cd_settings'

- if @group.licensed_feature_available?(:protected_environments)
  %section.protected-environments-settings.settings.no-animate#js-protected-environments-settings{ class: ('expanded' if expanded) }
    .settings-header
      %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only
        = _('Protected environments')
      = render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
        = expanded ? _('Collapse') : _('Expand')
      %p.gl-text-secondary
        = s_('ProtectedEnvironment|Only specified groups can execute deployments in protected environments.')
    .settings-content
      #js-protected-environments{ data: { entity_id: @group.id,
                                  entity_type: 'groups',
                                  tiers: @tiers.keys.to_json,
                                  api_link: help_page_path('api/protected_environments'),
                                  docs_link: help_page_path('ci/environments/deployment_approvals', anchor: 'add-multiple-approval-rules') } }
